spring:
  application:
    name: generative
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: llama3.2
          temperature: 0.7

server:
  port: 8080
